.App {
  text-align: center;
  min-width: 350px
}

/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'lemonmilk';
  src: url('assets/LEMONMILK-Medium.woff2') format('woff2');
  font-weight: 300;
}

/* Font Classes */

.lemon {
  font-family: 'lemonmilk';
  padding-bottom: var(--padding);
  margin-bottom: 0;
}

.text-white {
  color: white;
  text-decoration: underline;
}

/* Variables */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root{
  --clr-medium-blue: #24BDDF;
  --clr-bright-blue: #00D1FF;
  --clr-dark: #394276;
  --clr-medium-white: rgb(236, 236, 236);

  --clr-charcoal: #242424;

  --padding: 2em;
  --max-width: min(80%, 70em);
}

/* Background classes */

.background-medium-blue {
  background-color: var(--clr-medium-blue);
}

.background-bright-blue {
  background-color: var(--clr-bright-blue);
}

.background-dark {
  padding: 1em;
  background-color: var(--clr-dark);
}

/* Gradients */

.blue_gradient {
  width: 100%;
  height: 100%;
  align-self: end;
  max-height: 5em;
  z-index: 1000;
  min-height: 2em;
  background: linear-gradient(180deg, #00000000 0%, #5466a8cc 60%, #5466A8);
}

/* Nav Styling */

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3em;

  margin: 0;
  padding: 0;
  height: 3em;
  align-items: center;

  background-color: var(--clr-charcoal);
}

.mobile-nav-button {
  display: none;
  z-index: 9999;
}


@media (max-width: 35em) {
  :root{
    --padding: 0.25em;
    --max-width: 95%
  }

  nav {
    z-index: 9000;
    position: fixed;
    left: 0;
    top: 0;

    gap: 1em;
    height: 100%;
    width: 66%;

    display: none;
    flex-direction: column;
    align-items: center;
    
    background: rgba(65, 65, 65, 0.8);
    backdrop-filter: blur(1em);
  }
  .mobile-nav-button {
    display: inline-block;
    position: fixed;
    padding: .5em;
    top: .5em;
    left: .5em;
  }
}

nav[data-visible="true"] {
  display: flex;
  position: fixed;
}

.nav-container {
  width: auto;
  height: 100%;
}

.nav-item {
  text-decoration: none;
  display: inline-block;
  padding: 1em;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: large;
  color: rgb(255, 255, 255);
  user-select: none;
}

.nav-item-selected {
  user-select: none;
  text-decoration: none;
  display: inline-block;
  padding: 1em;

  font-family: 'lemonmilk';
  font-weight: 900;
  font-size: medium;
  color: rgb(0, 153, 255);
  text-shadow: 0 0 8px rgba(16, 112, 175, 0.5);
}

/* Landing Page */

.title {
  margin-top: 0;
  color: var(--clr-charcoal);
  font-size: 4rem;
  font-family: 'lemonmilk';
  margin: 0;
}

.sub-title {
  color: var(--clr-bright-blue);
  font-size: 3rem;
  margin-top: -1rem;
  margin-bottom: 0em;
}

.header {
  align-items: center;
  padding: 3em 0 0 3em;
  width: 60%;
  height: 20vh;
  margin-bottom: 1em;
}

h3 {
  font-family: 'Roboto', sans-serif;
  padding: 0 1em;
  margin: 0 auto;
}

/* Utility */

img{
  max-width: 100%;
  object-fit: fill;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

section{
  padding-top: 2em;
  padding-bottom: 2em;
}

h4 {
  font-size: .75rem;
}

/* Flex Box */

.flex {
  display: flex;
}

.col{
  width: 100%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.row > .col {
margin: 0.5em;
}

.flex-item {
  width: 100%;
}

/* Grid */

.template-grid {
  gap: 1em;
  margin: 0 auto;
  display: grid;
  max-width: var(--max-width);
  grid-template-columns: 
    repeat(auto-fit, minmax(8rem, 1fr));
}

.card__content {
  align-self: end;
  margin: 0.5rem 0.5rem 0;
  padding: 0;
  z-index: 1000;
  color: white;
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  z-index: 1000;
}

/* Styling */

.card-p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  padding: 0 var(--padding);
  color: black;
}

.card-outline {
  aspect-ratio: 1 / 1 !important;

  background-color: white;
  color: rgb(0, 136, 221);

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.card {
  max-width: min(max(var(--max-width), 20em), 30em);
  background-color: var(--clr-medium-white);
  border-radius: .5em;
  padding: 0.75em;
  color: var(--clr-dark);
}