.App {
  text-align: center;
  min-width: 350px
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root{
  --clr-primary: #2abdee;
  --clr-contrast: #7e7e7e;
  --clr-dark: #8fd9f1;
  --clr-light: #7AC7E1;
  --clr-accent: #33b4db;
  --clr-charcoal: #242424;
}

/* Nav Content */

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3em;

  margin: 0;
  padding: 0;
  height: 3em;
  align-items: center;

  background-color: var(--clr-charcoal);
}

.mobile-nav-button {
  display: none;
  z-index: 9999;
}


@media (max-width: 35em) {
  nav {
    z-index: 9000;
    position: fixed;

    gap: 1em;
    height: 100%;
    width: 66%;

    display: none;
    flex-direction: column;
    align-items: center;
    
    background: rgba(65, 65, 65, 0.8);
    backdrop-filter: blur(1em);
  }
  .mobile-nav-button {
    display: inline-block;
    position: fixed;
    padding: .5em;
    top: .5em;
    left: .5em;
  }
}

nav[data-visible="true"] {
  display: flex;
  position: fixed;
}

.nav-container {
  width: auto;
  height: 100%;
}



.nav-item {
  text-decoration: none;
  display: inline-block;
  padding: 1em;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: large;
  color: rgb(255, 255, 255);
  user-select: none;
}

.nav-item-selected {
  user-select: none;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
/* 
  font-family: 'Roboto', sans-serif; */
  font-family: 'lemonmilk';
  font-weight: 900;
  font-size: medium;
  color: rgb(0, 153, 255);
  text-shadow: 0 0 8px rgba(6, 255, 243, 0.5);
}

/* Landing Page */

@font-face {
  font-family: 'lemonmilk';
  src: url('assets/LEMONMILK-Medium.woff2') format('woff2');
  font-weight: 300;
}

.title {
  margin-top: 0;
  color: var(--clr-charcoal);
  font-size: 5rem;
  font-family: lemonmilk;
  margin: 0;
}

.sub-title {
  color: var(--clr-primary);
  font-size: 3rem;
  margin-top: -1rem;
  /* text-shadow: 0 0 5px var(--clr-light); */
}

.background-primary {
  background-color: var(--clr-accent);
}

.background-dark {
  background-color: var(--clr-charcoal);
}

.backdrop {
  padding: 2em 0;
  background-color: var(--clr-accent);
}

.header {
  align-items: center;
  padding: 2em;
  width: 60%;
  height: 25vh;
  margin-bottom: 2em;
}

h3 {
  font-family: 'Roboto', sans-serif;
  padding: 0 1em;
  margin: 0 auto;
}

.spacer {
  background-color: var(--clr-charcoal);
}


/* Utility */

img{
  max-width: 100%;
  object-fit: fill;
}

section{
  min-height: 40vh;
}

.flex {
  display: flex;
}

.flex-item {
  width: 100%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}


.col{
  width: 100%;
}

.row > .col {
margin: 0.5em;
}

.card-p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  padding: 0 1.5em;
  color: black;
}

.card {
  max-width: 20em;
  background-color: var(--clr-dark);
  border-radius: 1em;
  padding: 0.75em;
  color: black;
}

.lemon {
  font-family: 'lemonmilk';
  font-size: large;
}